@page "/fetchdata"

@using BlazorApp.Data




  <div class="card text-center">
  <div class="card-header">
    Degree Classification Chart
  </div>
  <div class="card-body">
    <p class="card-text">1st  : 70% or more</p>
    <p class="card-text">2:1  : 60-69.4% </p>
    <p class="card-text">2:2  : 50-59.4% </p>
    <p class="card-text">3rd  : 40-49.4% </p>
    <p class="card-text">Fail : less than 40% </p>
  </div>
  <div class="card-footer text-muted">
   <a href="/"  class="btn btn-primary">Back to Home</a>
  </div>
</div>
