@page "/"
@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using BlazorApp.Common.ViewModels
@using BlazorApp.Services.Interface
@inject ICourseManagementService _Course


@if (courseVM.CourseName == null)
{
    <div class="col-md-12 mb-4" >
        <h6>You Have Not Add Course Yet, Please Add Your Course</h6>
    </div>
    <div class="col-md-12" >
        <a class="btn btn-labeled btn-dgreen" href="addcourse" role="button" style="padding-top: 5px; padding-bottom: 5px; margin-bottom: 20px; width: 280px; margin-left: 50px; margin-right50px;">
            <span style="position: relative; left: -12px; display: inline-block; padding: 12px 24px; background: rgba(0,0,0,0.15); border-radius: 6px 0 0 6px;"><i class="oi oi-plus"></i></span>Add Course
        </a>
    </div>
}
else
{
    <div class="card text-center mb-6">
  <div class="card-header">
    @courseVM.CourseName
  </div>
  <div class="card-body">
    <h5 class="card-title">Year: @courseVM.CourseYear</h5>
    <p class="card-text">Progress: @courseVM.CourseProgress %</p>
    <p class="card-text">Your Degree Classification: @courseVM.DegreeClassification </p>
  </div>
  <div class="card-footer text-muted">
   <a href="/module/index"  class="btn btn-primary">Go to Course Modules</a>
  </div>
</div>

}

@code {
    public string UserName;
    string Successmessage = null;
    string Failuemessage = null;
    CourseVM courseVM = new CourseVM();
    protected override async Task OnInitializedAsync()
    {
        UserName = HttpContextAccessor.HttpContext.User.Identity.Name;
        var course = _Course.GetUserCourse(UserName);
        if (course !=null)
        {
            courseVM = course;
            float f = course.CourseProgress;
            //rounding to 2 decimal places
            float fc = (float)Math.Round(f * 100f) / 100f;
            courseVM.CourseProgress = fc;
        }
       
    }
}